html{
    padding: 20px 0px 10px;
    margin: 20px;
    text-align: center;
    background-color:rgb(199, 41, 41);
    color: white;
    
}

ul{
    text-align: center;
}

h1,h2,h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#nav{
    font-family: 'Times New Roman', Times, serif;
}

.li{
    color:#000;
}

p:first-child {
    background-color:black;
}

p::first-letter {
    font-size: 150%;
    color: #f8f8f8;
}

h3 ~ blockquote {
    color: yellow;
}

 ul li {
    text-decoration: none;
}

nav:hover {
    background: hsla(201,39%,50%,1);
}

nav:focus {
    background: rgb(78, 224, 21);
}

@media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

html { font-size: calc(1em + 1vw) }

.header img {
    float: left;
    width: 100px;
    height: 100px;
}
  
.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
}
#bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
  #bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }

  #lunchpic{
    width: 100%;
}

#dinnervideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#menu {
	list-style:none;
	width:940px;
	margin:30px auto 0px auto;
	height:43px;
	padding:0px 20px 0px 20px;	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #0a0a00;
	border: 1px solid #002232;
	box-shadow:inset 0px 0px 5px #edf9ff;
}

#menu li {
	float:left;
	display:block;
	text-align:center;
	position:relative;
	padding: 4px 10px 4px 10px;
	margin-right:30px;
	margin-top:7px;
	border:none;
}

#menu li:hover {
	border: 1px solid #777777;
	padding: 4px 9px 4px 9px;

	background: #F4F4F4;
	background: -moz-linear-gradient(top, #F4F4F4, #EEEEEE);
	border-radius: 5px 5px 0px 0px;
}

#menu li a {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; 
	color: #EEEEEE;
	display:block;
	outline:0;
	text-decoration:none;
	text-shadow: 1px 1px 1px #000;
}

#menu li:hover a {
	color:#161616;
	text-shadow: 1px 1px 1px #ffffff;
}


 
.dropdown_3columns {
	margin:4px auto;
	float:left;
	position:absolute;
	left:-999em; 
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #777777;
	border-top:none;
	background:#df1212;

	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

#menu li:hover .dropdown_1column, 
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
	left:-1px;
	top:auto;
}

.col_1,
.col_2,
.col_3 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}


#menu li .align_right {
	-moz-border-radius: 5px 0px 5px 5px;
    -webkit-border-radius: 5px 0px 5px 5px;
    border-radius: 5px 0px 5px 5px;
}

#menu li:hover .align_right {
	left:auto;
	right:-1px;
	top:auto;
}

#menu p, #menu h2, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	font-size:12px;
	text-align:left;
	text-shadow: 1px 1px 1px #FFFFFF;
}
#menu h2 {
	font-size:21px;
	font-weight:400;
	letter-spacing:-1px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
	font-size:14px;
	margin:7px 0 14px 0;
	padding-bottom:7px;
	border-bottom:1px solid #888888;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#000000;
}
#menu li:hover div a:hover {
	color:#029feb;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#f7f4f4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #0c0000;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

.animate-pop-in {
	animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
	opacity: 0;
}

.header-title {
	animation-delay: .8s;
}

.logo {
	animation-delay: .6s;
  }

@keyframes pop-in {
	0% {
	  opacity: 0;
	  transform: translateY(-4rem) scale(.8);
	}
	100% {
	  opacity: 1;
	  transform: none;
	}
}

.starwars-button::before {
	content: "";
	background: gray;
	color: #fff;
	font-size: 14px;
	border-radius: 0.5em;
	padding: 0 1em;
	position: relative;
	overflow: hidden;
	line-height: 32px;
}

.starwars-button::after {
  content: '';
  position: absolute;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
  transform: rotateZ(60deg) translate(-5em, 7.5em);
}

button {
	background: gray;
	color: #fff;
	font-size: 14px;
	border-radius: 0.5em;
	padding: 0 1em;
	position: relative;
	overflow: hidden;
	line-height: 32px;
}

button:hover::after, button:focus::after {
	animation: sheen 1s forwards;
}

@keyframes sheen {
	100% {
	  transform: rotateZ(60deg) translate(1em, -9em);
	}
}

.starwars-button {
	animation-delay: .6s;
}

/* Animation properties */
.star {
	animation: star 10s ease-out infinite;
  }
  .wars {
	animation: wars 10s ease-out infinite;
  }
  .byline span {
	animation: spin-letters 10s linear infinite;
  }
  .byline {
	animation: move-byline 10s linear infinite;
  }
  
  /* Keyframes */
  @keyframes star {
	0% {
	  opacity: 0;
	  transform: scale(1.5) translateY(-0.75em);
	}
	20% {
	  opacity: 1;
	}
	89% {
	  opacity: 1;
	  transform: scale(1);
	}
	100% {
	  opacity: 0;
	  transform: translateZ(-1000em);
	}
  }
  
  @keyframes wars {
	0% {
	  opacity: 0;
	  transform: scale(1.5) translateY(0.5em);
	}
	20% {
	  opacity: 1;
	}
	90% {
	  opacity: 1;
	  transform: scale(1);
	}
	100% {
	  opacity: 0;
	  transform: translateZ(-1000em);
	}
  }
  
  @keyframes spin-letters {
	0%, 10% {
	  opacity: 0;
	  transform: rotateY(90deg);
	}
	30% {
	  opacity: 1;
	}
	70%, 86% {
	  transform: rotateY(0);
	  opacity: 1;
	}
	95%, 100% {
	  opacity: 0;
	}
  }
  
  @keyframes move-byline {
	0% {
	  transform: translateZ(5em);
	}
	100% {
	  transform: translateZ(0);
	}
  }
  
  /* Make the 3D work on the container */
  .starwars-demo {
	perspective: 800px;
	transform-style: preserve3d;
  }
  
  /* General styles and layout */
  
  .starwars-demo {
	height: 17em;
	left: 50%;
	position: absolute;
	top: 53%;
	transform: translate(-50%, -50%);
	width: 34em;
	background-image: image("starwarsbackground");
  }
  
  .byline span {
	display: inline-block;
  }
  
.starwars-demo img {
	width: 100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }
  
  .star, .wars, .byline {
	position: absolute;
  }
  
  .star {
	top: -0.75em;
  }
  
  .wars {
	bottom: -0.5em;
  }
  
  .byline {
	color: #fff;
	font-family: "Raleway", sans-serif;
	font-size: 2.25em;
	left: -2em;
	letter-spacing: 0.4em;
	right: -2em;
	text-align: center;
	text-transform: uppercase;
	top: 29%;
  }
  
  /*** Media queries for adjusting to different screen sizes ***/
  
  @media only screen and (max-width: 600px) {
	.starwars-demo {
	  font-size: 10px;
	}
  }
  
  @media only screen and (max-width: 480px) {
	.starwars-demo {
	  font-size: 7px;
	}
  }

